*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:

"Poppins",
sans-serif;

}



body{


min-height:100vh;


background:

linear-gradient(

-45deg,

#0f2027,

#203a43,

#2c5364,

#6a11cb

);



background-size:400% 400%;


animation:

backgroundMove 15s infinite;


transition:

.5s;


}



body.light{


background:

linear-gradient(

-45deg,

#ffffff,

#d7e8ff,

#b8f2e6,

#e8d7ff

);



color:#111;


}



@keyframes backgroundMove{


0%{

background-position:0% 50%;

}


50%{

background-position:100% 50%;

}


100%{

background-position:0% 50%;

}


}



button,
input,
select{

transition:.3s;

}