.ai-section{

padding:80px 20px;

color:white;

text-align:center;

}



.ai-section h2{

font-size:40px;

margin-bottom:35px;

}





.chat-box{


max-width:700px;


height:400px;


overflow-y:auto;


margin:auto;


padding:25px;


background:

rgba(255,255,255,.1);


border-radius:25px;


backdrop-filter:blur(20px);


}




.ai-message,


.user-message{


max-width:70%;


padding:15px;


margin:15px;


border-radius:20px;


line-height:1.5;


}





.ai-message{


background:

rgba(0,255,153,.2);


text-align:left;


margin-right:auto;


}




.user-message{


background:

rgba(255,255,255,.2);


text-align:right;


margin-left:auto;


}





.chat-input{


display:flex;


max-width:700px;


margin:25px auto;


gap:15px;


}




.chat-input input{


flex:1;


padding:15px;


border:none;


border-radius:25px;


background:

rgba(255,255,255,.15);


color:white;


outline:none;


}




.chat-input button{


padding:15px 30px;


border:none;


border-radius:25px;


background:#00ff99;


font-weight:bold;


cursor:pointer;


}




body.light .ai-section{


color:#111;


}




body.light .chat-box{


background:

rgba(255,255,255,.7);


}




body.light .chat-input input{


background:

rgba(0,0,0,.1);


color:#111;


}