.chart-section{

padding:70px 20px;

color:white;

text-align:center;

}



.chart-section h2{

font-size:40px;

margin-bottom:35px;

}



.chart-card{


max-width:900px;


margin:auto;


padding:30px;



background:

rgba(255,255,255,.1);



border-radius:30px;



backdrop-filter:

blur(20px);



border:

1px solid rgba(255,255,255,.2);


}



.controls{


display:flex;

justify-content:center;

gap:20px;

margin-bottom:30px;


}



.controls select{


padding:12px 20px;


border-radius:15px;


border:none;


background:

rgba(255,255,255,.2);


color:white;


}



.controls option{

color:black;

}



@media(max-width:600px){

.controls{

flex-direction:column;

}

}
.market-price{

text-align:center;

margin-bottom:25px;

}


.market-price h1{

font-size:45px;

color:#00ff99;

}



.market-price p{

font-size:20px;

font-weight:bold;

}



.chart-controls{

display:flex;

justify-content:center;

gap:20px;

margin-bottom:25px;

}



.chart-controls select{

padding:12px 20px;

border-radius:15px;

border:none;

background:rgba(255,255,255,.15);

color:white;

}



.chart-controls option{

color:black;

}



.green{

color:#00ff99;

}



.red{

color:#ff4444;

}



body.light .chart-controls select{

background:rgba(0,0,0,.1);

color:#111;

}



body.light .market-price h1{

color:#008f55;

}



@media(max-width:600px){

.chart-controls{

flex-direction:column;

}

}
/* Dark Mode Chart Text */

.chart-section h2,
.market-price p{

color:white;

}



/* Light Mode Chart Text */

body.light .chart-section h2,
body.light .market-price p{


color:#111;


}



/* Chart dropdown text */

.chart-controls select{

color:white;

}


body.light .chart-controls select{


color:#111;


}