.news-section{

padding:80px 20px;

color:white;

}


.news-section h2{

text-align:center;

font-size:40px;

margin-bottom:35px;

}



.news-search{


display:block;

margin:0 auto 40px;


width:300px;


padding:15px;


border-radius:20px;


border:none;


outline:none;


background:

rgba(255,255,255,.15);


color:white;


}



.news-grid{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));


gap:25px;


}





.news-card{


background:

rgba(255,255,255,.1);


border-radius:25px;


overflow:hidden;


backdrop-filter:blur(20px);


transition:.3s;


}



.news-card:hover{


transform:translateY(-8px);


}





.news-card img{


width:100%;

height:180px;

object-fit:cover;


}




.news-card div{


padding:20px;


}



.news-card h3{

font-size:20px;

}



.news-card p{

opacity:.8;

line-height:1.5;

}



.news-card a{


color:#00ff99;


text-decoration:none;


font-weight:bold;


}



body.light .news-card{


background:

rgba(255,255,255,.7);


color:#111;


}



body.light .news-search{


background:

rgba(0,0,0,.1);


color:#111;


}