.crypto-section{

padding:60px 30px;

color:white;

text-align:center;

}


.crypto-section h2{

font-size:40px;

margin-bottom:40px;

}



.crypto-container{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(230px,1fr));

gap:25px;

max-width:1200px;

margin:auto;

}



.crypto-card{


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(20px);



border:

1px solid rgba(255,255,255,.2);



padding:25px;



border-radius:25px;



transition:.3s;


}



.crypto-card:hover{


transform:

translateY(-10px);



box-shadow:

0 20px 40px rgba(0,0,0,.3);


}



.coin-name{


display:flex;

align-items:center;

justify-content:center;

gap:12px;

}



.icon{

font-size:35px;

color:#f7931a;

}



.crypto-card h2{


margin:20px 0;

font-size:30px;


}



.green{

color:#00ff88;

font-weight:bold;

}



.red{

color:#ff5555;

font-weight:bold;

}
body.light .crypto-card,
body.light .converter-card,
body.light .chart-card,
body.light .favorite-card,
body.light .coin-mini,
body.light .stats div,
body.light .navbar{


background:

rgba(255,255,255,.65);


color:#111;


border:

1px solid rgba(0,0,0,.1);


}



body.light .links a{

color:#111;

}



body.light p{

color:#333;

}
.coin-header{

display:flex;

align-items:center;

gap:15px;

}


.coin-header img{

width:45px;

height:45px;

}



.favorite-btn{

margin-top:15px;

padding:12px 20px;

border:none;

border-radius:20px;

background:#00ff99;

cursor:pointer;

font-weight:bold;

}



.green{

color:#00ff99;

}



.red{

color:#ff4444;

}