.login-section{

padding:80px 20px;

text-align:center;

color:white;

}



.login-section h2{

font-size:40px;

margin-bottom:30px;

}




.google-login{


padding:16px 35px;


border:none;


border-radius:30px;


background:white;


color:#111;


font-size:18px;


cursor:pointer;


transition:.3s;


}



.google-login:hover{


transform:scale(1.05);


}





.user-card{


width:330px;


margin:auto;


padding:30px;


border-radius:25px;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(20px);


}




.user-card img{


width:90px;


height:90px;


border-radius:50%;


}




.user-card h3{


margin-top:15px;


}





.logout-btn{


margin-top:20px;


padding:12px 30px;


border:none;


border-radius:25px;


background:#ff4444;


color:white;


cursor:pointer;


}





body.light .login-section{


color:#111;


}




body.light .user-card{


background:

rgba(255,255,255,.7);


color:#111;


}