.market-dashboard{

padding:80px 20px;

color:white;

}


.market-dashboard h2{

text-align:center;

font-size:40px;

margin-bottom:40px;

}



.market-stats{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}



.market-stats div{


padding:25px;


border-radius:25px;


background:

rgba(255,255,255,.1);


backdrop-filter:blur(20px);


text-align:center;


}



.market-stats p{

font-size:30px;

color:#00ff99;

font-weight:bold;

}





.tables{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));

gap:30px;

margin:50px 0;


}




.market-box{


background:

rgba(255,255,255,.1);


padding:25px;


border-radius:25px;


}



.market-row{


display:flex;

align-items:center;

justify-content:space-between;

padding:15px 0;


}



.market-row img{

width:35px;

}



.market-row span{

flex:1;

margin-left:15px;

}




.coin-grid{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(260px,1fr));


gap:25px;


}



.coin-card{


padding:25px;


background:

rgba(255,255,255,.1);


border-radius:25px;


backdrop-filter:blur(20px);


}



.coin-title{


display:flex;

align-items:center;

gap:15px;


}



.coin-title img{

width:45px;

}



.coin-card p{

font-size:14px;

opacity:.8;

}



.spark{

height:80px;

margin-top:15px;

}



.green{

color:#00ff99;

}



.red{

color:#ff4444;

}




body.light .coin-card,
body.light .market-box,
body.light .market-stats div{


background:

rgba(255,255,255,.7);

color:#111;


}



body.light .coin-card p{

color:#333;

}