.portfolio{

padding:70px 20px;

color:white;

text-align:center;

}



.portfolio h2{

font-size:40px;

margin-bottom:35px;

}





.portfolio-box{


max-width:600px;

margin:auto;


display:flex;

gap:15px;

flex-wrap:wrap;


padding:30px;


background:

rgba(255,255,255,.1);


border-radius:25px;


backdrop-filter:blur(20px);


}




.portfolio-box input,

.portfolio-box select{


flex:1;

padding:15px;


border:none;


border-radius:15px;


background:rgba(255,255,255,.2);


color:white;


}



.portfolio-box option{

color:black;

}





.portfolio-box button{


padding:15px 25px;


border:none;


border-radius:20px;


background:#00ff99;


cursor:pointer;


font-weight:bold;


}




.total-value{


margin:40px auto;


padding:30px;


max-width:500px;


background:

rgba(255,255,255,.1);


border-radius:25px;


}



.total-value h1{


color:#00ff99;

font-size:45px;


}





.portfolio-card{


max-width:700px;


margin:15px auto;


padding:20px;


display:flex;


justify-content:space-between;


align-items:center;


background:

rgba(255,255,255,.1);


border-radius:20px;


}




.portfolio-card button{


background:#ff4444;


color:white;


border:none;


padding:10px 15px;


border-radius:10px;


cursor:pointer;


}




body.light .portfolio-box,
body.light .total-value,
body.light .portfolio-card{


background:rgba(255,255,255,.7);

color:#111;


}



body.light .portfolio-box input,
body.light .portfolio-box select{


color:#111;

background:rgba(0,0,0,.1);

}