.alerts{

padding:80px 20px;

color:white;

text-align:center;

}



.alerts h2{

font-size:40px;

margin-bottom:35px;

}



.alert-box{

max-width:650px;

margin:auto;

padding:30px;

display:flex;

gap:15px;

flex-wrap:wrap;

justify-content:center;


background:

rgba(255,255,255,.1);


border-radius:25px;


backdrop-filter:blur(20px);

}




.alert-box select,
.alert-box input{


padding:15px;

border:none;

border-radius:15px;

background:rgba(255,255,255,.15);

color:white;

outline:none;

}




.alert-box option{

color:black;

}



.alert-box button{


padding:15px 25px;


border:none;


border-radius:20px;


background:#00ff99;


font-weight:bold;


cursor:pointer;


}




.alert-card{


max-width:500px;


margin:20px auto;


padding:20px;


display:flex;


justify-content:space-between;


align-items:center;



background:

rgba(255,255,255,.1);



border-radius:20px;


}




.alert-card button{


background:#ff4444;


color:white;


border:none;


padding:10px 15px;


border-radius:15px;


cursor:pointer;


}





body.light .alerts{


color:#111;


}



body.light .alert-box,
body.light .alert-card{


background:

rgba(255,255,255,.7);


}



body.light .alert-box select,
body.light .alert-box input{


color:#111;


background:rgba(0,0,0,.1);


}